body {
    color: #333;
    text-align: center;
    font-family: "Trebushed MS";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#post_header{
    color: #aaa;
    font-family: "Arial";
    font-size: 12px;
    background-color: rgb(16, 16, 70);
    padding: 1em;
}
#post_body{
    font-size: 12px;
    background-color: #aaa;
    padding: 1em;    
}
#container {
    width: 70%;
    text-align: left;
    border: 1px solid #aaa;
    margin: 0 auto;
}
#container h1 {
    font-size: 15px;
}